body {
    background: white;
}

#delete-form {
    display: inline;
}

#delete-comment {
    display: inline;
}

.checked {
    color: orange;
}

/* Campground show page  */
.fa-arrow-left {
    margin-right: 5px;
}

#gobackshowpage {
    margin-top: 10px;
}
/* Campground show page  */

#ChangeReview {
    margin-bottom: 30px;
}

#NewReview {
    margin-bottom: 30px;
}

#mainNavbar .nav-link:hover{
    color: orange;
}

body { padding-top: 60px; }


.social-link {
width: 30px;
height: 30px;
border: 1px solid #ddd;
display: flex;
align-items: center;
justify-content: center;
color: #666;
border-radius: 50%;
transition: all 0.3s;
font-size: 0.9rem;
}

.social-link:hover,
.social-link:focus {
background: #ddd;
text-decoration: none;
color: #555;
}

#container {
padding-top: 7%;
padding-bottom: 7%;
}

#CardRight {
    display: flex;
    align-items: center;
    justify-content: center;
}

#card-img-top {
width: 25%;
height: 25%;
object-fit: cover;
}

.jumbotron {
    text-align: center;
    background-image: url(../images/Jumbotron-Image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow:0px 3px 4px   rgba(0,0,0,0.4),
                0px 8px 13px  rgba(0,0,0,0.1),
                0px 18px 23px rgba(0,0,0,0.1);
}