<% include ./partials/header %>

    <div id="container" class="container">
        <div class="row h-100 align-items-center mx-auto">
            <div class="col-lg-6 mb-5">
                <h1 class="display-4">About Me</h1>
                <p class="lead text-muted mb-0"> Full Stack, Game and Android App Developer </p>
                <p class="lead text-muted">
                Website Created by Vikas Rajbhar </a>
                </p>
            </div>
            <div class="col-lg-6 px-auto">
                <div class="card shadow p-3 mb-5 bg-white rounded">
                    <img id="card-img-top" src="https://tinyurl.com/wxnrnev" class="card-img-top rounded-circle border border-info shadow mx-auto" alt="...">
                    <div class="card-body text-center pb-0">
                        <h5 class="card-title"> Vikas Rajbhar</h5>
                        <p class="card-text">
                            <span id="CardRight" class="small text-uppercase text-muted">
                                CEO - Founder
                            </span>
                        </p>
                        <ul class="social mb-0 list-inline mt-3">
                            <li class="list-inline-item">
                                <a href="https://www.facebook.com/vikas.rajbhar.752" class="social-link"><i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://www.twitter.com/vikasraj00" class="social-link"><i class="fab fa-twitter"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://www.instagram.com/vikasraj00" class="social-link"><i class="fab fa-instagram"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://www.github.com/vikasraj00" class="social-link"><i class="fab fa-github"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>  
            </div>    
        </div>
    </div>

    <% include ./partials/footer %>
