<!DOCTYPE html>
<html>
<head>
    <link rel = "icon" href="https://images.vexels.com/media/users/3/127365/isolated/preview/3e345f10031bee2d27b1146c2c1a7f2a-camp-fire-icon-with-wood-logs-by-vexels.png" type = "image/x-icon"> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/login.css">
    <script src="https://kit.fontawesome.com/45df12a3fb.js" crossorigin="anonymous"></script>
    <title> YelpCamp </title>
</head>
    <body>

        <nav id="login-nav" class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top py-1">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/"> <i class="fas fa-campground"></i> YELPCAMP </a>
                </div>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                    <a class="nav-link" href="/campgrounds"> HOME <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
                <p>
                    <form action="/campgrounds" method="GET" class="form-inline">
                        <div class="form-group mr-3 d-none d-md-inline">
                            <input class="form-control form-control-sm" type="text" name="search" placeholder="Campground search...">
                            <input class="btn btn-danger btn-sm" type="submit" value="Search">
                        </div>
                    </form>
                </p>
            </div>
        </nav>

        <div class="container">
            <!-- Error Flash -->
            <% if (error && error.length > 0) { %>
                <div id="you-need" class="alert alert-danger" role="alert">
                    <%= error %>
                </div>
            <% } %>
            <!-- Success Flash -->
            <% if (success && success.length > 0) { %>
                <div id="you-need" class="alert alert-success" role="alert">
                    <%= success %>
                </div>
            <% } %>
        </div>

        <div class="container h-100 mt-4">
            <div class="d-flex justify-content-center h-100">
                <div class="user_card">
                    <div class="d-flex justify-content-center">
                        <div class="brand_logo_container">
                            <img src="https://www.seekpng.com/png/small/138-1387775_login-to-do-whatever-you-want-login-icon.png" class="brand_logo" alt="Logo">
                        </div>
                    </div>
                    <div class="d-flex justify-content-center form_container">
                        <form action="/login" method="POST">
                            <div class="input-group mb-3">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                <input type="text" name="username" class="form-control input_user" placeholder="Username">
                            </div>
                            <div class="input-group mb-2">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                                </div>
                                <input type="password" name="password" class="form-control input_pass" placeholder="Password">
                            </div>
                            <div class="d-flex justify-content-center mt-3 login_container">
                                <button class="btn login_btn">Login</button>
                            </div>
                        </form>
                    </div>
            
                    <div class="mt-4">
                        <div id="text" class="d-flex justify-content-center links">
                            Don't have an account? <a href="/register" class="ml-2">Sign Up</a>
                        </div>
                        <div class="d-flex justify-content-center links">
                            <a href="/campgrounds">Go Back</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <em>
            <p style="text-align: center;">&copy; YelpCamp 2020. All Rights Reserved</p>
        </em>  
    </body>
</html>
